<h3>Listing all Posts</h3>
<table>
	<tr>
	<th>Title</th>
	<th>Text</th>
</tr>

	<% @post.each do |f| %>
	<tr>
	<td><%=f.title %></td>
	<td><%=f.text %></td>
	<td><%= link_to 'Edit', edit_post_path(f) %> </td>
	<td><%= link_to 'Delete', post_path(f), method: :delete , data: {confirm: "are you sure?"}%> </td>
	<td><%= link_to 'show', f %> </td>

</tr>
	<% end%>
</table>
<%= link_to "New Post", new_post_path %> 
	